* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
/* -------------------------- burger-menu */

.burger-menu {
  display: none;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.menu-line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
}
.burger-menu:hover .menu-line {
  opacity: 0.6;
}
.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../img/close.png);
  right: 10px;
  top: 10px;
  z-index: 100;
  background-color: transparent;
  border: none;
  background-size: contain;
  cursor: pointer;
}
.hide {
  display: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #071117;
  color: #fff;
}
.header-container {
  margin-top: 100px;
  width: 50%;
}

.header-name {
  display: block;
  font-weight: 400;
  font-size: 75px;
  text-transform: uppercase;
  margin: 0;
}
.header-surname {
  display: block;
  font-weight: 900;
  font-size: 75px;
  text-transform: uppercase;
  margin: 0;
}
.header-specialize {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 100px;
}
.section-about {
  display: block;
  width: 500px;
  height: 720px;
  margin-right: -60px;
  background-color: #071117;
}

.header-title {
  display: block;
  padding: 5px 0 5px 15px;
  width: 170px;
  font-size: 24px;
  color: #fff;
  background-color: #071117;
  margin-bottom: 40px;
}
.header-nav {
  display: flex;
}
.link {
  margin-bottom: 15px;
}
.header-nav-link {
  letter-spacing: 1.2px;
  display: block;
  margin-right: 80px;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}
.header-nav-link:hover {
  border-bottom: 1px solid #fff;
}
.main,
.footer-container {
  width: 1368px;
  margin-left: auto;
  margin-right: auto;
}
.container-skills {
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 14%;
  margin-bottom: 100px;
}
.avatar-image {
  max-width: 500px;
}
.header-about {
  padding: 40px;
  color: #fff;
}
.section-title {
  display: flex;
  justify-content: center;
  width: 110px;
  font-size: 24px;
  color: #071117;
  background-color: #fff;
  margin: 0;
  margin-bottom: 20px;
}
.section-title-long {
  display: block;
  padding: 5px 0 5px 15px;
  width: 200px;
  font-size: 24px;
  color: #fff;
  background-color: #071117;
  margin-bottom: 40px;
}
.section-description {
  line-height: 1.4;
  font-weight: 300;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}

.nav-title {
  font-size: 16px;
  margin-bottom: 5px;
}
.nav-link {
  text-decoration: none;
  color: #111111;
  font-weight: 500;
  margin: 0;
}
.section-education {
  width: 50%;
}
.education-1,
.education-2 {
  display: block;
  line-height: 1.4;
  margin-bottom: 40px;
  width: 400px;
  color: #111111;
  font-weight: 600;
}
.education-info {
  margin-top: 55px;
}
.year {
  display: block;
  margin-bottom: 15px;
}
.university {
  display: block;
  margin-top: 6px;
}

.nav-skills li {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.skill {
  display: block;
  font-weight: 600;
  color: #595959;
  margin: 0;
  margin-right: 85px;
  margin-bottom: 10px;
}
.skills-wrap {
  display: flex;
}
.skill-line,
.skill-line-2,
.skill-line-3 {
  display: block;
  width: 200px;
  height: 6px;
  margin-bottom: 9px;
  background-color: #e1e1e1;
}
.skill-line:after {
  content: '';
  display: block;
  width: 180px;
  height: 6px;
  background-color: #071117;
}
.skill-line-2:after {
  content: '';
  display: block;
  width: 100px;
  height: 6px;
  background-color: #071117;
}
.skill-line-3:after {
  content: '';
  display: block;
  width: 150px;
  height: 6px;
  background-color: #071117;
}
.english-level {
  font-weight: 600;
  font-size: 54px;
  padding-left: 40px;
  margin-top: 70px;
}

.section-english {
  width: 50%;
}
.container-video {
  justify-content: flex-start;
  margin-bottom: 150px;
}
.video-player {
  margin-left: 10%;
  align-items: center;
  width: 1000px;
  height: 550px;
  margin-top: 50px;
  border: 0;
}
.footer {
  background-color: #eaeaea;
  height: 100px;
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
}
.footer-top {
  position: absolute;
  right: 5%;
  margin-top: 20px;
}

.top-arrow {
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer-github-icon {
  width: 50px;
}

.footer-rschool-icon {
  width: 120px;
  margin-right: 40px;
}
.footer-year {
  display: block;
  font-size: 20px;
}
.footer-container {
  padding-left: 150px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ----------------------------------- projects */
.container-projects {
  padding-left: 8%;
  padding-top: 40px;
}
.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-between;
}
.project-container {
  position: relative;
  max-width: 400px;
}
.project {
  display: block;
  width: 400px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  transition: 0.2s;
}

.project-photofilter {
  background-image: url(../img/photofilter-project.PNG);
}

.project-piano {
  background-image: url(../img/piano-project.png);
}

.project-museum {
  background-image: url(../img/museum-project.PNG);
}

.project-quiz {
  background-image: url(../img/quiz-project.PNG);
}

.project-news {
  background-image: url(../img/news-project.PNG);
}

.project-toys {
  background-image: url(../img/x-mas-project.PNG);
}
.project-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.project-description {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
.project-tech {
  display: block;
  font-size: 14px;
  margin-bottom: 30px;
}
.click {
  opacity: 0;
  width: 150px;
  height: 150px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  position: absolute;
  top: 8%;
  left: 30%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
}
.project-container:hover .project {
  filter: brightness(30%);
}
.project-container:hover .click {
  opacity: 1;
}
/* --------------------------  courses */
.course-html {
  background-image: url(../img/stepik-1.PNG);
  margin-right: 10px;
}
.course-js {
  background-image: url(../img/stepik-2.PNG);
}
.course-rsschool {
  background-image: url(../img/rs-school.PNG);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
/* ----------------------------------- adaptivity */
@media screen and (max-width: 1400px) {
  .header-nav-link {
    margin-right: 40px;
  }
  .main {
    width: 1000px;
  }
  .container-skills {
    padding-left: 3%;
    padding-right: 9.5%;
  }
  .container-projects {
    padding-left: 3%;
  }
  .project {
    width: 300px;
    height: 150px;
  }
  .project-bmw,
  .project-photofilter,
  .project-piano,
  .project-distance,
  .project-cars,
  .project-venom {
    margin-right: 10px;
  }
  .project-tech {
    width: 300px;
  }
  .click {
    width: 100px;
    height: 100px;
    top: 9%;
    left: 32%;
    font-size: 16px;
  }
  .footer-container {
    padding-left: 100px;
  }
  .video-player {
    margin-left: 0;
    width: 700px;
    height: 400px;
  }
}

@media screen and (max-width: 1100px) {
  .main {
    width: 800px;
  }
  .section-title {
    font-size: 20px;
  }
  .header-nav-link {
    margin-right: 20px;
  }
  .header-title {
    font-size: 20px;
  }
  .header-name,
  .header-surname {
    font-size: 55px;
  }
  .header-specialize {
    font-size: 16px;
  }
  .header-about {
    padding: 20px;
  }
  .avatar-image {
    max-width: 400px;
  }
  .section-about {
    width: 400px;
    height: 600px;
  }
  .section-description {
    font-size: 14px;
  }
  .education-1,
  .education-2 {
    width: 200px;
  }
  .container-skills {
    padding-right: 0;
    margin-bottom: 60px;
  }
  .section-title-long {
    font-size: 20px;
  }
  .project {
    width: 250px;
    height: 100px;
  }
  .project-tech {
    width: 200px;
  }
  .click {
    width: 70px;
    height: 70px;
    top: 5%;
    left: 35%;
    font-size: 10px;
  }
  .project-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .project-description {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .project-tech {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .video-player {
    width: 600px;
    height: 350px;
  }
}
@media screen and (max-width: 880px) {
  .main {
    width: 500px;
  }
  .header-nav-link {
    margin-right: 10px;
    font-size: 14px;
  }
  .header-name,
  .header-surname {
    font-size: 35px;
  }
  .header-specialize {
    font-size: 14px;
  }
  .avatar-image {
    max-width: 300px;
  }
  .header-title,
  .section-title,
  .section-title-long {
    font-size: 18px;
  }
  .header-title,
  .section-title-long {
    margin-bottom: 30px;
  }
  .section-about {
    width: 300px;
    height: 500px;
  }
  .container-skills {
    flex-direction: column;
    margin-bottom: 0;
  }
  .education-1,
  .education-2 {
    width: 500px;
  }
  .section-education,
  .section-skills,
  .section-english {
    margin-bottom: 60px;
  }
  .education-info {
    margin-top: 0;
  }
  .english-level {
    margin-top: 40px;
  }
  .projects-wrapper {
    margin-top: 0;
  }
  .project {
    width: 450px;
    height: 200px;
  }
  .project-title {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }
  .project-description {
    font-size: 18px;
  }
  .project-tech {
    font-size: 16px;
    width: 450px;
    margin-bottom: 40px;
  }
  .click {
    top: 15%;
    left: 37%;
    width: 100px;
    height: 100px;
    font-size: 16px;
  }
  .footer-container {
    padding-left: 60px;
  }
  .video-player {
    margin-top: 20px;
    margin-left: 0;
    width: 450px;
    height: 250px;
  }
}
@media screen and (max-width: 640px) {
  .header {
    justify-content: flex-end;
    padding-right: 20px;
  }
  .burger-menu {
    display: flex;
  }
  .header-nav {
    display: none;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .header-nav-link {
    height: 20px;
  }
  .avatar-image {
    max-width: 300px;
  }
  .main {
    width: 300px;
  }
  .header-container {
    margin-top: 40px;
    width: 100%;
  }
  .header-specialize {
    margin-bottom: 40px;
  }
  .container {
    padding-left: 0;
    flex-flow: column-reverse;
    margin-bottom: 40px;
  }
  .skill-line,
  .skill-line-2,
  .skill-line-3 {
    display: none;
  }
  .skill::before {
    content: '- ';
  }
  .education-1,
  .education-2 {
    width: 300px;
  }
  .section-education {
    width: 100%;
  }
  .section-education,
  .section-skills,
  .section-english {
    margin-bottom: 40px;
  }
  .education-2 {
    margin-bottom: 0;
  }
  .project {
    width: 300px;
    height: 150px;
  }
  .container-projects {
    padding-top: 0;
  }
  .project-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  .project-description {
    font-size: 16px;
  }
  .project-tech {
    font-size: 14px;
    width: 300px;
  }
  .click {
    width: 70px;
    height: 70px;
    top: 12%;
    font-size: 10px;
  }
  pre {
    font-size: 12px;
  }
  .footer {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-container,
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-rschool-icon {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer-github-icon {
    margin-bottom: 20px;
  }
  .footer-top {
    margin-top: 70px;
  }
  .video-player {
    margin-top: 10px;
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-width: 440px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.active {
  display: flex;
}
